<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>Have any questions or comments about this <a href="http://railstutorial.org/"> Ruby on Rails tutorial</a> ?
Contact us either by email, telephone or mail at the address below:
<br>
McFisticuffs Corp.<br>
1337 Haxorz Blvd. <br>
Kabooma, ON, <br>
L0L 0L1 <br>
contact@mcfisticuffs.com</p>